<!DOCTYPE html>
<html lang="pr-BR">


<head>
    <%- include('../partials/head'); %>
        <title>Lsta Especialidade</title>
</head>

<body>

    <header>
        <%- include('../partials/header_logout_ADM'); %>
    </header>

    <main>
        <h1 class='text-center mt-5 mb-5'>Lista de Especialidades</h1>
        <section class="conteudo container">
            <div>
                <!-- <span class="col-12 text-start">Pesquise pelo nome da Especialidade</span>
                <input class="my-2" type="text" id="myInput" onkeyup="pesquisarFunc()"
                    placeholder="Nome da Especialidade"> -->
            </div>
            <table id="tabela" class="table table-hover">
                <thead>
                    <th>Especialidade</th>
                </thead>
                <tbody id="tbody">
                    <% resultado.forEach(e=>{ %>
                        <tr>
                            <td>
                                <%= e.especialidade %>
                            </td>

                            <td class="d-flex justify-content-end "><a href="/med_esp/editar/<%=e._id %>"><button
                                        class='btn btn-primary mx-2 '>Editar</button></a>

                                <a href="/med_esp/deletar/<%=e._id %>"><button
                                        class='btn btn-danger'>Excluir</button></a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </section>
    </main>

    <%- include('../partials/footer'); %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>
</body>

</html>